/* Reemplaza TODO en src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc; /* slate-50 */
}

/* Eliminamos el centrado forzado y los padding que limitan el diseño */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}